ul,li{
	list-style:none;
}
a{text-decoration:none;}

.item img{
	margin:0 auto;
	width:90%;
	height:95%!important;
}

#footer{
	background:#000;
	color:#fff;
}
.foot_h3{
	font-size:25px;
	text-align:center;
	margin-top:20px;
}
.copyright,p{
	text-align:center;
}
p.copyright{
	border-top:1px solid #fff;
}