
ul,li{
	list-style:none;
}
a{text-decoration:none;}

.info{
	border:1px solid #ccc;
	padding:10px 0;
	
}

.text_bg{
	background:green;
	color:#fff;
	padding:3px;
}

.text-info p{
	color:#000;
	text-align:left;
	
}
.text-info p:nth-of-type(4){
	margin-top:30px;
}
.notice{
	font-size:15px;
	color:red;
}
strong{
	font-size:30px;
	color:#f60;
}
.buy{
	font-size:18px;
	color:#fff;
	background:#f60;
	padding:5px;
	border-radius:4px;
}
.buy:hover{
	font-size:19px;
	padding:6px;
}

.recommend{
	
	border:1px solid #000;
}

.re_h3{
	
	text-align:center;
	font-size:30px;
	border-bottom:1px solid #000;
   
	
}
.col{
	margin:10px 0;
}
.col a{
	margin-right:15px;
	font-size:20px;
}


.box,.hot{
	
	border:1px solid #000;
}
.hot .row{
	margin-top:20px;
}
.col_box{
	margin:10px 5px 10px 30px;
}
.col_box a{
	font-size:20px;
	margin-right:10px;
	background:#eee;
	padding:5px;
	border-radius:4px;	
	color:#000;
}
.col_box a:hover{
	background:green;
	color:#fff;
}

@media (max-width: 768px) { 

.foot_h3 {
		font-size:13px;
		}  
strong{
	font-size:15px;
	
}
.buy{
	font-size:10px;
}
}